services:
  api:
    build: ../backend
    ports:
     - "8000:8000"
    restart: always
    environment:
     - DATABASE_URL=postgresql+psycopg2://postgres:password@db:5432/portfolio_db
     - PROJECT_NAME=${PROJECT_NAME}
     - SECRET_KEY=${SECRET_KEY}
     - DEBUG=${DEBUG}
    volumes:
     - ../backend:/app
    depends_on:
     - db

  db:
    image: postgres:18.1
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB:-portfolio_db}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
