services:
  api:
    build: ../backend
    ports:
     - "8000:8000"
    restart: always
    environment:
     - DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
     - PROJECT_NAME=${PROJECT_NAME}
     - SECRET_KEY=${SECRET_KEY}
     - DEBUG=${DEBUG}
    volumes:
     - ../backend:/app
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:18.1
    container_name: postgres_db
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB:-portfolio_db}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
